# Raw Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sra

# FastQC outputs
*_fastqc.zip
*.html
*.zip

# Reference genomes
NC_*
GPC_*

# Alignment & analysis outputs
*.sam
*.bam
*.bai
*.vcf
*.vcf.gz

# Data folders
data/

# OS & editor junk
.DS_Store
*.swp
